@{
    ViewData["Title"] = "Incoming Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0"></h1>
        </div>

    </div>
</div>

<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card card-flush">
            <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                <div class="card-title">
                    <div class="d-flex align-items-center position-relative my-1">
                        <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Incoming Stock List</h1>
                    </div>
                </div>
                <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                    <div class="d-flex align-items-center position-relative my-1">
                        <span class="svg-icon svg-icon-1 position-absolute ms-4">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <input type="text" data-incomingstock-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Order" />
                    </div>
                    <button type="button" class="btn btn-sm btn-flex btn-light-primary" onclick="btnNewIncomingStock()">
                        @* data-bs-toggle="modal" data-bs-target="#kt_modal_new_target" >*@
                        <span class="svg-icon svg-icon-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
                                <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                            </svg>
                        </span>
                        Add Incoming Stock
                    </button>
                </div>
            </div>

            <div class="card-body pt-0">
                <table class="table align-middle table-row-dashed fs-6 gy-5" id="IncomingStock_table">
                    <thead>
                        <tr class="text-start text-gray-800 fw-bold fs-7 text-uppercase gs-0">
                            <th class="text-center min-w-150px">product Name</th>
                            <th class="text-center min-w-150px">Category</th>
                            <th class="text-center min-w-150px">Description</th>
                            <th class="text-center min-w-100px">Quantity</th>
                            <th class="text-center min-w-150px">Price</th>
                            <th class="text-center min-w-150px">Total Price</th>
                            <th class="text-center min-w-150px">Supplier Name</th>
                            <th class="text-center min-w-150px">Received Date</th>
                            <th class="text-center min-w-150px">Actions</th>
                        </tr>
                    </thead>

                </table>
                <div class="d-flex align-items-center p-5">
                    <img src="~/src/media/loader/newLoader.gif" class="lds-ellipsis" id="loader-spinner" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="IncomingStock_modal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-600px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <form id="ProductForm" class="form" action="#" method="post">
                    <input type="hidden" id="IncomingStockID" />
                    <div class="mb-13 text-left">
                        <h4 class="mb-3" id="IncomingStockHeader"></h4>
                    </div>

                    <div class="d-flex flex-column mb-8 fv-row">
                        <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                            <span class="required">Category</span>
                        </label>
                        @Html.DropDownList("ddlIncomingCategory",
                        ViewBag.ddlCategory as IEnumerable<SelectListItem>,
                        "-- Select Category --",
                        new { @class = "form-control", @id = "ddlIncomingCategory", @onchange = "ddlFillProduct()" })

                    </div>

                    <div class="d-flex flex-column mb-8 fv-row">
                        <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                            <span class="required">Product</span>
                        </label>
                        <select id="ddlIncomingProduct" class="form-control" onchange="FillDescription()">
                            <option value="">--Select product--</option>
                        </select>
                    </div>

                    <div class="row g-9 mb-8">
                        <div class="col-md-6 fv-row">
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="required">Description</span>
                            </label>
                            <input type="text" id="txtIncomingDescription" class="form-control" tabindex="1" placeholder="Enter product Name" disabled="disabled" required />

                        </div>
                        <div class="col-md-6 fv-row">

                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="required">Supplier Name</span>
                            </label>
                            @Html.DropDownList("ddlIncomingSupplier",
                                     ViewBag.ddlSupplier as IEnumerable<SelectListItem>,
                                     "-- Select Category --",
                                     new { @class = "form-control", @id = "ddlIncomingSupplier" })
                        </div>
                        
                    </div>
                    <div class="row g-9 mb-8">
                        <div class="col-md-6 fv-row">

                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="required">Quantity</span>
                            </label>
                            <input type="text" id="txtIncomingQuantity" class="form-control" tabindex="1" placeholder="Enter product Name" required />
                        </div>
                        <div class="col-md-6 fv-row">
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="required">Received Date</span>
                            </label>
                            <input type="date" id="txtIncomingReceivedDate" class="form-control" tabindex="1" placeholder="Enter product Name" required />

                        </div>
                    </div>
                    <div class="d-flex justify-content-end pt-7">
                        <button type="reset" id="kt_modal_new_target_cancel" tabindex="2" data-bs-dismiss="modal" class="btn btn-light me-3">Cancel</button>
                        <a id="btnIncomingStockSave" value="Submit" tabindex="1" class="btn btn-primary" onclick="btnIncomingStockSave('INSERT')">Submit</a>
                        <a id="btnIncomingStockUpdate" class="btn btn-primary" onclick="btnIncomingStockSave('UPDATE')">update</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@{
    // Serialize the DataTable into a JSON string using Newtonsoft.Json
    var dtProductJson = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.dtProduct);
}

<script>
    var dtProduct = @Html.Raw(dtProductJson);
</script>


@section Scripts {
    <script src="~/areajs/IncomingStockMst.js"></script>
}


